<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">

    {% if title %}
    <title>Volvo - {{title}}</title>
    {% else %}
    <title>Volvo Inventory Management</title>
    {% endif %}
</head>
<body>
    <div class="container">
        <div class="vertical-dashboard">
            {% block vertical_dashboard %}
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('asset') }}">Assets Inventory</a></li>
                <li><a href="{{ url_for('spare') }}">Spare Parts Inventory</a></li>
                <li><a href="{{ url_for('regmaint') }}">Regular Maintenance Schedule</a></li>
                <li><a href="{{ url_for('maint') }}">Maintenance History</a></li>
            </ul>
            {% endblock %}
        </div>

        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>