{% extends 'layout.html' %}

{% block content %}

    <h1>Update Maintenance History</h1>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>Asset ID</th>
                    <th>Part ID</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% if parts_used %}
                    {% for part_used in parts_used %}
                        <tr>
                            
                            <td><input type="hidden" name="asset_id" value="{{ part_used.asset_id }}"></td>
                            <td><input type="hidden" name="part_id" value="{{ part_used.part_id }}"></td>
                            <td><input type="date" name="date" value="{{ part_used.date }}"></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">No records to update</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div  class="button-container">
            <button type="submit">Update Maintenance History</button>
        </div>
    </form>

{% endblock %}